<div class="mb-1">
    <button mat-raised-button color="primary" (click)="novoGasto()">
        Novo Gasto
    </button>
</div>
<mat-form-field appearance="fill" class="mt-1">
    <mat-label>Selecione um Mês</mat-label>
    <mat-select [(ngModel)]="mes" name="mes" (ngModelChange)="onChangeMes($event)">
        <mat-option *ngFor="let mes of meses" 
        [value]="mes">{{ mes }}</mat-option>
    </mat-select>
</mat-form-field>
<app-gastos-list [gastos]="gastos" (editarFn)="editar($event)" (deletarFn)="deletar($event)"></app-gastos-list>