<mat-sidenav-container class="container" >
    <mat-sidenav position="start" class="sidenav" mode="side" opened 
        fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item >
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <a mat-list-item  routerLink="/gastos">
                <i class="material-icons">
                    attach_money
                </i>
                Gastos
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content" fullscreen>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>