.sidenav {
  width: 200px;
}

.sidenav a {
  color: #FFF;
}

.sidenav i {
  padding-right: 10px;
}

.content {
  position: relative;
  height: calc(100vh - 225px);
  padding: 50px 40px;
  color: #000 !important;
  overflow-y: scroll;
}
